<!doctype html>
<html lang='en'>
<head>
	<meta charset='utf-8' />
	<meta name='description' content='Melendez Realty Group - Real estate and financial services' />
	<meta name='keywords' content='melendez realty group, real estate, financial services' />
	<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=1;' />
	<title>{{ page.title }} &#8212; MRG Properties Inc.</title>
	<link href='styles/reset.css' rel='stylesheet' />
	<link href='styles/global.css' rel='stylesheet' />
	<link href='plugins/nivo-slider/nivo-slider.css' rel='stylesheet' />
	<link href='favicon.ico' rel='shortcut icon' />
	<script src='scripts/jquery.min.js'></script>
	<script src='plugins/nivo-slider/jquery.nivo.slider.js'></script>
	<script src='plugins/calculator/loancalculator.js'></script> 
	<script src='plugins/calculator/propertypricecalculator.js'></script> 
	<script src='http://www.google.com/jsapi?key=ABQIAAAAaPkBW3vge4odDUBtbC4e-xRutoCKHFl1g3ES_cmPf4BxqcVG3BR7pbnwzjWgqiKDxSEqSvzSUG2pww'></script> 
	<script src='scripts/main.js'></script>
	<!--[if lt IE 9]>
		<script src='http://html5shiv.googlecode.com/svn/trunk/html5.js'></script>
		<link href='/static/styles/ie.css' rel='stylesheet' />
	<![endif]--> 
</head>
<body>
<div id='wrap'>
	<header class='main'>
		<a href='/'><img class='logo' src='images/logo.png' alt='' /></a>
	</header>
	<nav class='main'>
		<ul class='nav'>
			<li><a id='home' href='/'>Home</a></li>
			<li><a id='about' href='/about'>About</a></li>
			<li>
				<a id='services' href='/services'>Search &#8711;</a>
				<ul class='subnav services'>
					<li><a href='/mlssearch'>MLS Property Search</a></li>
					<li><a href='/hudsearch'>HUD Homes Search</a></li>
				</ul>
			</li>
			<li><a id='incometax' href='/incometax'>Income Tax</a></li>
			<li><a id='resources' href='/resources'>Resources</a></li>
			<li><a id='mortgagecalculator' href='/mortgagecalculator'>Mortgage Calculator</a></li>
			<li><a id='contact' href='/contact'>Contact</a></li>
		</ul>
	</nav>
	{{ content }}
</div>
<footer class='main'>		
	<p class='copyright'>&#169; <script>var date = new Date(); var thisYear = date.getFullYear(); document.write(thisYear);</script> MRGP, Inc. All rights reserved.</p>
	<div class='creditation'><img src='images/psc.png' alt='' /><img src='images/sfr.png' alt='' /><img src='images/eho.png' alt='' /><img src='images/mls.png' alt='' /></div>
</footer>
<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22714529-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<!-- Designed by Miguel Mota <http://www.miguelmota.com> -->
</body>
</html>