<!doctype html>
<html lang='en'>
<head>
	<meta charset='utf-8' />
	<meta name='description' content='MRG Properties Inc. is a real estate business who offers efficient and experienced real estate professionals to help buy or sell your home.' />
	<meta name='keywords' content='melendez realty group, mrg properties inc, real estate, financial services' />
	<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=1;' />
	<title>{{ page.title }} &#8212; MRG Properties Inc.</title>
	<link href='http://www.mrgpropertiesinc.com/' rel='canonical' />
	<link href='/favicon.ico' rel='shortcut icon' />
	<link href='/images/apple-touch-icon.png' rel='apple-touch-icon' />
	<link href='/styles/reset.css' rel='stylesheet' />
	<link href='/plugins/nivo-slider/nivo-slider.css' rel='stylesheet' />
	<link href='/styles/wufoo.css' rel='stylesheet' />
	<link href='/styles/global.css' rel='stylesheet' />
	<script src='/scripts/jquery.min.js'></script>
	<script src='/plugins/nivo-slider/jquery.nivo.slider.js'></script>
	<script src='/plugins/calculator/loancalculator.js'></script>
	<script src='/plugins/calculator/propertypricecalculator.js'></script>
	<script src='/scripts/main.js'></script>
	<script src='http://www.google.com/jsapi?key=ABQIAAAAaPkBW3vge4odDUBtbC4e-xRutoCKHFl1g3ES_cmPf4BxqcVG3BR7pbnwzjWgqiKDxSEqSvzSUG2pww'></script>
	<script>google.load('feeds','1');</script>
	<!--[if lt IE 9]>
		<script src='http://html5shiv.googlecode.com/svn/trunk/html5.js'></script>
		<link href='/styles/ie.css' rel='stylesheet' />
	<![endif]--> 
</head>
<body>
<div class='main_wrap'>
	<header>
		<a href='/'><img class='header_logo' src='/images/logo.png' alt='MGR Properties Inc' /></a>
		<a href='http://www.facebook.com/pages/MRG-Properties-Inc/227657150582576'><img class='facebook_button' src='/images/facebook_button.png' alt='Facebook' /></a>
	</header>
	<nav>
		<ul class='main_nav'>
			<li><a class='home' href='/'>Home</a></li>
			<li><a class='about' href='/about'>About Us</a></li>
			<li>
				<a class='search' href='/search'>Search for <span class='traingle'>&#9660;</span></a>
				<ul>
					<li><a href='/featured'>Featured Properties</a></li>
					<li><a href='/mls-search'>MLS Properties</a></li>
					<li><a href='/hud-search'>HUD Homes</a></li>
				</ul>
			</li>
			<li><a class='income-tax' href='/income-tax'>Income Tax</a></li>
			<li><a class='resources' href='/resources'>Resources</a></li>
			<li><a class='community-reports' href='/community-reports'>Reports</a></li>
			<li><a class='mortgage-calculator' href='/mortgage-calculator'>Calculators</a></li>
			<li><a class='contact' href='/contact'>Contact</a></li>
			<li id='theDate'><span id="clock">&nbsp;</span> <span id='day'>&nbsp;</span></li>
		</ul>
	</nav>
	<section class='main_content'>
	{{ content }}
		<div class='clear'></div>
	</section>
</div>
<footer class='main_footer'>		
	<p class='copyright'>&#169; <script>var date = new Date(); var thisYear = date.getFullYear(); document.write(thisYear);</script> MRG Properties, Inc. All rights reserved.
		<span class='design_by'>Designed by <a href='http://www.miguelmota.com'>Miguel Mota</a></span></p>
	<div class='creditation'><img src='/images/psc.png' alt='' /><img src='/images/sfr.png' alt='' /><img src='/images/eho.png' alt='' /><img src='/images/mls.png' alt='' /></div>
</footer>
<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22714529-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>