<!doctype html>
<html lang='en'>
<head>
	<meta charset='utf-8' />
	<meta name='description' content='We are real estate and financial team.' />
	<meta name='keywords' content='melendez realty group, mrg properties inc, real estate, financial services' />
	<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=1;' />
	<title>{{ page.title }} &#8212; MRG Properties Inc.</title>
	<link href='http://www.mrgpropertiesinc.com/' rel='canonical' />
	<link href='/favicon.ico' rel='shortcut icon' />
	<link href='/images/apple-touch-icon.png' rel='apple-touch-icon-precomposed' />
	<link href='/styles/reset.css' rel='stylesheet' />
	<link href='/plugins/nivo-slider/nivo-slider.css' rel='stylesheet' />
	<link href='/styles/global.css' rel='stylesheet' />
	<script src='/scripts/jquery.min.js'></script>
	<script src='/plugins/nivo-slider/jquery.nivo.slider.js'></script>
	<script src='/plugins/calculator/loancalculator.js'></script>
	<script src='/plugins/calculator/propertypricecalculator.js'></script>
	<script src='/scripts/main.js'></script>
	<script src='/http://www.google.com/jsapi?key=ABQIAAAAaPkBW3vge4odDUBtbC4e-xRutoCKHFl1g3ES_cmPf4BxqcVG3BR7pbnwzjWgqiKDxSEqSvzSUG2pww'></script>
	<script>google.load('feeds','1');</script>
	<!--[if lt IE 9]>
		<script src='http://html5shiv.googlecode.com/svn/trunk/html5.js'></script>
		<link href='/styles/ie.css' rel='stylesheet' />
	<![endif]--> 
</head>
<body>
<div id='wrap'>
	<header>
		<h1><a href='/'><img class='logo' src='/images/logo.png' alt='MGR Properties Inc' /></a></h1>
		<a class='facebook' href='http://www.facebook.com/pages/MRG-Properties-Inc/227657150582576'><img class='facebook_button' src='/images/facebook.gif' alt='' /></a>
	</header>
	<nav>
		<ul id='nav'>
			<li><a id='home' href='/'>Home</a></li>
			<li><a id='about' href='/about'>About Us</a></li>
			<li>
				<a id='search' href='/search'>Search for <span class='nabla'>&#8711;</span></a>
				<ul>
					<li><a href='/featured'>Featured Properties</a></li>
					<li><a href='/mlssearch'>MLS Properties</a></li>
					<li><a href='/hudsearch'>HUD Homes</a></li>
				</ul>
			</li>
			<li><a id='incometax' href='/incometax'>Income Tax</a></li>
			<li><a id='resources' href='/resources'>Resources</a></li>
			<li><a id='mortgagecalculator' href='/mortgagecalculator'>Mortgage Calculator</a></li>
			<li><a id='contact' href='/contact'>Contact</a></li>
		</ul>
	</nav>
	{{ content }}
	<div class='clear'></div>
	</section>
</div>
<footer class='main'>		
	<p class='copyright'>&#169; <script>var date = new Date(); var thisYear = date.getFullYear(); document.write(thisYear);</script> MRG Properties, Inc. All rights reserved.
		<span class='design'>Designed by <a href='http://www.miguelmota.com'>Miguel Mota</a></span></p>
	<div class='creditation'><img src='/images/psc.png' alt='' /><img src='/images/sfr.png' alt='' /><img src='/images/eho.png' alt='' /><img src='/images/mls.png' alt='' /></div>
</footer>
<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22714529-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>