@charset 'utf-8';

table {
	background-color: #fff;
}
table tbody {
	background-color: #fff;
}
table#Gctl00_tsTabControl_-1 td,
table#Gctl01_tsTabControl_-1 td {
	background: #123460;
	color: #e7e5e5;
	-webkit-border-radius: 2px;
}
table#Gctl00_tsTabControl_-1 td:hover,
table#Gctl01_tsTabControl_-1 td:hover {
	background: #0b203a;
	color: #fff;
}
table#Gctl00_tsTabControl_-1 td img,
table#Gctl01_tsTabControl_-1 td img  {
	display: none;
}

input[type=text]{
	border: 3px solid #ccc;
	background-color: #fff;
	color: #999;
}
input[type=text]:focus {
	background-color: #edfdff;
	color: #555;
}
span#rpt_lblDisclaimer,
td#rpt_tdDisclaimor {
	font-size: 10px;
	color: #999;
}
span#rpt_lblDisclaimer a,
td#rpt_tdDisclaimor a {
	color: #999;
	text-decoration: underline;
}

/* ------------------------------------------------------------------------------
	SUBMIT BUTTON
--------------------------------------------------------------------------------- */
input[type=submit] {
	background: #0b203a;
	background: -moz-linear-gradient(
		top,
		#265977 0%,
		#0b203a);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#265977),
		to(#0b203a));
	border: 1px solid #265977;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	-o-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);
	color: #fff !important;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 5px 10px;
	text-decoration: none;
}
input[type=submit]:hover {
	background: #0b203a;
	background: -moz-linear-gradient(
		top,
		#306c8e 0%,
		#0b203a);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#306c8e),
		to(#0b203a));
	cursor: pointer;
}
input[type=submit]:active {
	background: #265977;
	background: -moz-linear-gradient(
		top,
		#0b203a 0%,
		#265977);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#0b203a),
		to(#265977));
	box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	-webkit-box-shadow: none;
	cursor: pointer;
}

span#ctl00_spnCompare,
span#ctl00_spnPipe1,
span#ctl00_spnChange {
	display: none;
}
body
{ 
    PADDING-LEFT: 0; 
    PADDING-TOP: 0; 
    color: #3a3d3f;
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 12px;
} 

form#Form1 div {
	background-color: #fff !important;
}
.channelTitle
{
    BACKGROUND-COLOR: #2E404A;     
    COLOR: #FFE84C; 
    FONT-FAMILY: tahoma, trebuchet, "trebuchet ms", verdana, sans-serif; 
    FONT-SIZE: 14pt; 
    FONT-WEIGHT: bold
}

.channelTitle10
{
    BACKGROUND-COLOR: #2E404A; 
    COLOR: #FFE84C; 
    FONT-FAMILY: tahoma, trebuchet, "trebuchet ms", verdana, sans-serif; 
    FONT-SIZE: 10pt; 
    FONT-WEIGHT: bold
}

.reportTitle
{
    BACKGROUND-COLOR: #2E404A; 
    COLOR: #FFE84C; 
    FONT-FAMILY: tahoma, trebuchet, "trebuchet ms", verdana, sans-serif; 
    FONT-SIZE: 11pt; 
    FONT-WEIGHT: bold
}

.reportTitle10
{
    BACKGROUND-COLOR: #2E404A; 
    COLOR: #FFE84C; 
    FONT-FAMILY: tahoma, trebuchet, "trebuchet ms", verdana, sans-serif; 
    FONT-SIZE: 10pt; 
    FONT-WEIGHT: bold
}

.toolbar
{
    BACKGROUND-COLOR: #f0f0f0; 
    COLOR: #000000; 
    FONT-FAMILY: tahoma, trebuchet, "trebuchet ms", verdana, sans-serif; 
    FONT-SIZE: 10pt; 
    FONT-WEIGHT: bold
}

A.toolbar:link {
	COLOR: #2E404A; 
	FONT-FAMILY: tahoma, trebuchet, "trebuchet ms", verdana, sans-serif; 
	FONT-SIZE: 9pt
}

A.toolbar:visited {
	COLOR: #2E404A; 
	FONT-FAMILY: tahoma, trebuchet, "trebuchet ms", verdana, sans-serif; 
	FONT-SIZE: 9pt
}

A.toolbar:hover {
	COLOR: #2E404A; 
	FONT-FAMILY: tahoma, trebuchet, "trebuchet ms", verdana, sans-serif; 
	FONT-SIZE: 9pt
}

.dataDark {
    color: #3a3d3f;
   	text-shadow: 0 1px 0 rgba(255,255,255,.8);
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 14px;
}

.dataDark A {
	COLOR: #2E404A; 
}

A.dataDark:link {
	BACKGROUND-COLOR: #f0f0f0; 
	COLOR: #2E404A; 
	FONT-FAMILY: tahoma, trebuchet, "trebuchet ms", verdana, sans-serif; 
	FONT-SIZE: 9pt
}

A.dataDark:visited {
	BACKGROUND-COLOR: #f0f0f0; 
	COLOR: #2E404A; 
	FONT-FAMILY: tahoma, trebuchet, "trebuchet ms", verdana, sans-serif; 
	FONT-SIZE: 9pt
}

A.dataDark:hover {
	BACKGROUND-COLOR: #f0f0f0; 
	COLOR: #FFE84C; 
	FONT-FAMILY: tahoma, trebuchet, "trebuchet ms", verdana, sans-serif; 
	FONT-SIZE: 9pt
}

.dataLight {
	background-color: #fff;
    color: #3a3d3f;
   	text-shadow: 0 1px 0 rgba(255,255,255,.8);
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 14px;
}

.dataLight A {
	COLOR: #2E404A; 
}

A.dataLight:link {
	BACKGROUND-COLOR: #ffffff; 
	COLOR: #2E404A; 
	FONT-FAMILY: tahoma, trebuchet, "trebuchet ms", verdana, sans-serif; 
	FONT-SIZE: 9pt
}

A.dataLight:visited {
	BACKGROUND-COLOR: #ffffff; 
	COLOR: #2E404A; 
	FONT-FAMILY: tahoma, trebuchet, "trebuchet ms", verdana, sans-serif; 
	FONT-SIZE: 9pt
}

A.dataLight:hover {
	BACKGROUND-COLOR: #ffffff; 
	COLOR: #FFE84C; 
	FONT-FAMILY: tahoma, trebuchet, "trebuchet ms", verdana, sans-serif; 
	FONT-SIZE: 9pt
}

.sectionTitle
{
    BACKGROUND-COLOR: #2E404A;     
    COLOR: #FFE84C; 
    FONT-FAMILY: tahoma, trebuchet, "trebuchet ms", verdana, sans-serif; 
    FONT-SIZE: 12pt; 
    FONT-WEIGHT: bold
}

.bodyText10Bold
{
    COLOR: #000000; 
    FONT-FAMILY: tahoma, trebuchet, "trebuchet ms", verdana, sans-serif; 
    FONT-SIZE: 10pt; 
    FONT-WEIGHT: bold
}

.bodyText10
{
    color: #3a3d3f;
   	text-shadow: 0 1px 0 rgba(255,255,255,.8);
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 12px;
}

.errorText10Bold
{
    color: Red;
    FONT-FAMILY: tahoma, trebuchet, "trebuchet ms", verdana, sans-serif; 
    FONT-SIZE: 10pt; 
    FONT-WEIGHT: bold    
}

.errorText10
{
    color: Red;
    FONT-FAMILY: tahoma, trebuchet, "trebuchet ms", verdana, sans-serif; 
    FONT-SIZE: 10pt; 
}

.bodyText7
{
    color: #3a3d3f;
   	text-shadow: 0 1px 0 rgba(255,255,255,.8);
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 12px; 
}
.DefaultTab 
{
  color: #FFE84C;
  background-color: #2E404A;
	font: 75% tahoma, trebuchet, "trebuchet ms", verdana, sans-serif;
	font-weight: bold;
  cursor: pointer;
}

.DefaultTabHover 
{
	color: #00CCFF;
  background-color: #2E404A;
	font: 75% tahoma, trebuchet, "trebuchet ms", verdana, sans-serif;
	font-weight: bold;
  cursor: pointer;
}

.SelectedTab 
{ 
	background: #0b203a;
	color: #fff;
	font-weight: bold;
	font: 75% tahoma, trebuchet, "trebuchet ms", verdana, sans-serif;
  cursor: default;
}
.MultiPage
{
	   background-color: #fff;
	border-top: none;
	margin-top: 0;
	width: 648px;
}
.MultiPage div
{
	  background-color: #fff !important;
}
	
body
{
    background-color: #fff;
}
.SectionHeader
{
    background-color: #2E404A;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top: none;
    color: 000;
	font-family: tahoma, trebuchet, "trebuchet ms", verdana, sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-decoration:none;
    width:712px;
}
.SectionHeader td
{
    background-color: #fff;
   
}
.bodyLink 
{
	font-size: 10px;
}
.bodyLink img
{
	display: none;
}
.LabelDataCell 
{
	width:234px;
}
.DataCell 
{
	width:105px;
}
.Grid 
{ 
	background-color: #fff;
  width:709px;
}
tr.Row {
	background-color: #bbb !important;
}
.NSRReportNameLabel 
{
	width:712px;
}
.NSRLocationInfo 
{
	width:420px;
}
.NSRMapFrame 
{
	width:711px;
	height:470px;
}
.NSRToolBar
{
	width:709px;
	height:15px;
}
.CHMapFrame
{
	width:709px;
	height:350px;
}
.CHStreet
{
	width:200px;
}
.CHIcon
{
	width:25px;
}
.CHRooms
{
	width:120px;
}
.CHSqFt
{
	width:70px;
}
.CHEstimate
{
	width:90px;
}
.CHSoldPrice
{
	width:90px;
}
.CHSoldDate
{
	width:90px;
}