@charset 'utf-8';

/* ==============================================================================
	FONT IMPORTS
================================================================================= */
@font-face {
	font-family: Aller;
	src: url('/fonts/aller-webfont/aller_bd-webfont.eot');
	src: local('☺'),
	url('/fonts/aller-webfont/aller_bd-webfont.woff') format('woff'),
	url('/fonts/aller-webfont/aller_bd-webfont.ttf') format('truetype'),
	url('/fonts/aller-webfont/aller_bd-webfont.svg') format('svg');
}
@font-face {
	font-family: Trajan;
	src: url('/fonts/trajan-webfont/trajan_regular-webfont.eot');
	src: local('☺'),
	url('/fonts/trajan-webfont/trajan_regular-webfont.woff') format('woff'),
	url('/fonts/trajan-webfont/trajan_regular-webfont.ttf') format('truetype'),
	url('/fonts/trajan-webfont/trajan_regular-webfont.svg') format('svg');
}
/* ==============================================================================
	END FONT IMPORTS
================================================================================= */



/* ==============================================================================
	GENERAL
================================================================================= */
body {
	background: #f0ebd9 url('/images/bg_body.jpg') repeat-x 0 0;
	color: #3a3d3f; /* brown: #5c5532; */
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 12px;
	text-shadow: 0 1px 0 rgba(255,255,255,.8);
}
div.clear {
	clear: both;
}
div.main_wrap {
	margin: 0 auto;
	width: 960px;
}
h1,h2,h3,h4,h5,h6 {
	margin: 5px 0 10px 0;
}
h1 {
	font-size: 32px;
}
h2 {
	font-size: 24px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 28px;
}
h6 {
	font-size: 22px;
}
hr {
	clear: both;
}
p {
	font-size: 16px;
	line-height: 120%;
	margin-bottom: 15px;
}
p a {
	border-bottom: 1px dotted #385160;
	color: #385160;
	transition: background-color linear .1s, border-color linear .1s, color linear .1s;
	-moz-transition: background-color linear .1s, border-color linear .1s, color linear .1s;
	-o-transition: background-color linear .1s, border-color linear .1s, color linear .1s;
	-webkit-transition: background-color linear .1s, border-color linear .1s, color linear .1s;
}
p a:hover {
	border-bottom: 1px solid #265977;
	color: #265977;
}
/* ==============================================================================
	END GENERAL
================================================================================= */



/* ==============================================================================
	HEADER
================================================================================= */
header {
	background: url('/images/bg_header.png') repeat-x 0 0;
	height: 195px;
	overflow: hidden;
	width: 100%;
}
header img.header_logo {
	float: left;
	height: 267px;
	margin-top: -15px;
	width: 400px;
}
header img.facebook_button {
	float: right;
	height: auto;
	margin: 135px 10px 0 0;
	width: 90px;
}
/* ==============================================================================
	END HEADER
================================================================================= */



/* ==============================================================================
	MAIN NAVIGATION BAR
================================================================================= */
nav {
	clear: both;
	height: 40px;
	width: 960px;
}
ul.main_nav {
	background: #123460 url('/images/gradient.png') repeat-x 0 -110px; /* brown: #724129 */
	behavior: url('/plugins/PIE/PIE.htc');
	border-top-left-radius: 10px;
  	border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
  	-moz-border-radius-topright: 10px;
	float: left;
	font-family: Arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	padding-left: 10px;
	text-transform: uppercase;
	width: 950px;
}
ul.main_nav li {
	display: inline;
}
ul.main_nav li a {
	background: rgba(11,32,58,.2);
	behavior: url('/plugins/PIE/PIE.htc');
	border: 1px solid rgba(56,85,96,.8);
	border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
	color: #e7e5e5;
	display: block;
	float: left;
	line-height: 40px;
	margin: 5px;
	padding: 0 10px;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	transition: background-color linear .1s, color linear .1s;
	-moz-transition: background-color linear .1s, color linear .1s;
	-o-transition: background-color linear .1s, color linear .1s;
	-webkit-transition: background-color linear .1s, color linear .1s;
}
/* ORIGINAL
ul.main_nav li > a.selected, 
ul.main_nav li:hover > a {
	background: #123460 url('/images/gradient.png') repeat-x 0 -45px; /* brown: #724129 *//*
	color: #444;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
  	-webkit-border-radius: 5px;
  	border-top: solid 1px #f8f8f8;
	box-shadow: 0 1px 1px rgba(0,0,0, .2);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0, .2);
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0, .2);
	text-shadow: 0 1px 0 rgba(255,255,255, 1);
	behavior: url('/plugins/PIE/PIE.htc');
}
*/
ul.main_nav li > a.selected, 
ul.main_nav li:hover > a {
	background: #0b203a !important;
	behavior: url('/plugins/PIE/PIE.htc');
	border: 1px solid #385160 !important;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
  	-webkit-border-radius: 5px;
  	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,.5);	
}
ul.main_nav ul {
	display: none;
	padding-bottom: 5px;
	z-index: 10000;
}
ul.main_nav li:hover > ul {
	background-color: #253d59; /* brown: #724129; */
	behavior: url('/plugins/PIE/PIE.htc');
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	display: block;
	height: 45px;
	margin: 45px 0 0 -10px;
	position: absolute;
	width: 960px;
}
ul.main_nav li:hover > ul li a {
	background: #355070;
	border: none;
	color: #fff;
	float: left;
	padding: 0 10px;
}
ul.main_nav li:hover > ul li a.selected,
ul.main_nav li:hover > ul li a:hover {
	background: #38587c !important; /* brown: #3d2418; */
	behavior: url('/plugins/PIE/PIE.htc');
	border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: none !important;
	border-top: none;
	box-shadow: 0 1px 1px rgba(0,0,0, .2);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0, .2);
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0, .2);
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0, 1);
}
ul.main_nav li#theDate {
	color: #e7e5e5;
	float: right;
	font-size: 10px;
	margin-top: 35px;
	padding-right: 5px;
	text-shadow: 0 -1px 0 rgba(0,0,0,.2);
}
/* ==============================================================================
	END MAIN NAVIGATION BAR
================================================================================= */



/* ==============================================================================
	MAIN CONTENT
================================================================================= */
section.main_content {
	background-color: #e8e1cc;
	behavior: url('/plugins/PIE/PIE.htc');
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	padding: 30px 20px 40px 20px;
}
p.first {
	font-size: 22px;
}
p.second {
	font-size: 20px;
}
p.third {
	font-size: 18px;
}
/* ==============================================================================
	END MAIN CONTENT
================================================================================= */



/* ==============================================================================
	MAIN NIVO SLIDER
================================================================================= */
div.main_slider {
	background: #d6cfbc url('/images/ajax_loader.gif') no-repeat 50% 50%;
	border: 7px solid #b7b09f;
	left: -15px;
	height: 450px;
	margin-bottom: 30px;
	max-height: 450px;
	max-width: 930px;
    position: relative;
    width: 930px;
}
div.main_slider img {
	display: none;
}

/* NAVIGATION BULLETS */
.nivo-controlNav {
	bottom: -36px;
	left: 45%;
	position: absolute;
}
.nivo-controlNav a {
	background: url('/images/bullets.png') no-repeat;
	border: 0;
	display: block;
	height: 22px;
	float: left;
	margin-right: 3px;
	text-indent: -9999px;
	width: 22px;
}
.nivo-controlNav a.active {
	background-position: 0 -22px;
}
/* END NAVIGATION BULLETS */

/* DIRECTION NAVIGATION LINKS */
.nivo-directionNav a {
	background: url('/images/arrows.png') no-repeat;
	border: 0;
	display: block;
	height: 30px;
	text-indent: -9999px;
	width: 30px;
}
a.nivo-nextNav {
	background-position: -30px 0;
	right: 15px;
}
a.nivo-prevNav {
	left: 15px;
}
/* END DIRECTION NAVIGATION LINKS */

/* CAPTION STYLES */
.nivo-caption {
	background: #000;
	bottom: 0px;
	color: #fff;
	left: 0px;
	opacity: 0.8; /* Overridden by captionOpacity setting */
	position: absolute;
	width: 100%;
	z-index: 8;
}
.nivo-caption p {
	margin: 0;
	padding: 5px;
}
.nivo-caption a {
	display: inline !important;
}
.nivo-html-caption {
    display: none;
}
/* END CAPTION STYLES */
/* ==============================================================================
	END MAIN NIVO SLIDER
================================================================================= */



/* ==============================================================================
	ABOUT
================================================================================= */
div.agent_container {
	padding-bottom: 25px;
}
div.agent_photo_container {
	height: 138px;
	padding-bottom: 15px;
	width: 100%;
}
div.agent_photo_container img {
	border: 5px solid #b7b09f;
	float: left;
	height: 128px;
	margin-right: 20px;
	min-width: 125px;
	width: auto;
}
div.agent_license {
	color: #616568;
}
div.agent license p {
	margin-bottom: 5px;
}
/* ==============================================================================
	END ABOUT
================================================================================= */

section.hudsearch img {
	max-width: 100%;
	height: auto;
	margin-bottom: 5px;
	padding: 4px;
	background-color: #eee;
	border: 1px solid #ccc;
	-webkit-transition: background-color linear .4s;
	-moz-transition: background-color linear .4s;
	-o-transition: background-color linear .4s;
	transition: background-color linear .4s;
}

/* ==============================================================================
	RESOURCES
================================================================================= */
div.resources_left_column {
	float: left;
	width: 450px;
}
div.resources_left_column img,
div.resources_right_column img {
	max-width: 100%;
	height: auto;
	margin-bottom: 5px;
	padding: 4px;
	background-color: #eee;
	border: 1px solid #ccc;
	-webkit-transition: background-color linear .4s;
	-moz-transition: background-color linear .4s;
	-o-transition: background-color linear .4s;
	transition: background-color linear .4s;
}
section.resources img:hover,
section.hudsearch img:hover {
	background-color: #fff;
}
div.resources_left_column p,
div.resources_right_column p {
	font-size: 14px;
	margin-bottom: 30px;
}
div.resources_right_column {
	float: right;
	width: 400px;
}
div#news_feed {
	float: right;
	font-size: 14px;
	width: 400px;
}
div#news_feed ul li {
	margin: 5px 0;
}
div#news_feed ul li p {
	margin-bottom: 0;
}
div#news_feed a {
	border-bottom: 1px dotted #385160;
	color: #385160;
	transition: background-color linear .1s, border-color linear .1s, color linear .1s;
	-moz-transition: background-color linear .1s, border-color linear .1s, color linear .1s;
	-o-transition: background-color linear .1s, border-color linear .1s, color linear .1s;
	-webkit-transition: background-color linear .1s, border-color linear .1s, color linear .1s;
}
div#news_feed a:hover {
	border-bottom: 1px solid #265977;
	color: #265977;
}
span.news_feed_date {
	font-size: 9px;
	text-shadow: 0 1px 0 rgba(255,255,255,.2);
}
/* ==============================================================================
	END RESOURCES
================================================================================= */



/* ==============================================================================
	CALCULATORS
================================================================================= */
form.loan {
	float: left;
	width: 350px;
}
form.loan label {
	width: 100px;
}
form.property {
	float: right;
	width: 450px;
}
form.property label {
	width: 100px;
}
form.loan div {
	height: 50px;
	width: 350px;
}
form.property div {
	height: 50px;
	width: 450px;
}
form.loan div.error,
form.property div.error {
	background-color: #fffcfc;
	border: 2px solid #e0454d;
	color: #e0454d;
	display: none;
	font-size: 14px;
	height: auto;
	margin-bottom: 10px;
	padding: 5px;
	text-align: center;
	width: 315px;
}
form.property div.error {
	width: 415px;
}
form.loan label,
form.property label {
	color: #555;
	display: block;
	float: left;
	font-size: 14px;
	text-align: right;
	width: 200px;
}
label.small {
	font-size: 12px;
}
form.loan input[type=text],
form.property input[type=text] {
	background-color: #fff;
	border: 3px solid #ccc;
	color: #999;
	display: block;
	float: left;
	margin-left: 10px;
	padding: 5px;
	width: 200px;
}
form.loan input[type=text]:focus,
form.property input[type=text]:focus {
	background-color: #edfdff;
	color: #555;
}
form.loan input[type=text].total,
form.property input[type=text].total  {
	background-color: #eee;
	color: #8aa730;
}
form.property select{
	display: block;
	float: left;
	margin-left: 10px;
	padding: 5px;
	width: 200px;
}
input[type=button].calculator_button,
input[type=submit].calculator_button {
	background-color: #eee;
	border: 3px solid #ccc;
	color: #555;
	float: right;
	font-family: Arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	padding: 7px;
	text-transform: uppercase;
	transition: color linear .1s;
	-moz-transition: color linear .1s;
	-o-transition: color linear .1s;
	-webkit-transition: color linear .1s;
}
input[type=button].calculator_button:hover,
input[type=submit].calculator_button:hover {
	cursor: pointer;
}
input[type=button].calculator_button.calculate {
	margin-right: 25px;
}
input[type=button].calculator_button.calculate:hover {
	color: #677c26;
}
input[type=button].calculator_button.clear:hover {
	color: #84101a;
}
p.calculator_disclaimer {
	clear: both;
	font-size: 10px;
	color: #999;
	margin-top: 15px;
}
/* ==============================================================================
	END CALCULATORS
================================================================================= */



/* ==============================================================================
	CONTACT
================================================================================= */
div.contact_form {
	float: left;
	min-height: 450px;
	width: 450px;
}
div.contact_info {
	float: right;
	width: 400px;
	text-align: left;
}
/* ==============================================================================
	END CONTACT
================================================================================= */



/* ==============================================================================
	REPORTS
================================================================================= */
iframe#community_reports {
	background: #e8e1cc url('/images/ajax_loader_light.gif') no-repeat 50% 65px;
	border-top: 2px solid #bbb;
	height: 1000px;
	padding-top: 10px;
	width: 920px;
}
/* ==============================================================================
	END REPORTS
================================================================================= */



/* ==============================================================================
	MAIN FOOTER
================================================================================= */
footer.main_footer {
	background: url('/images/bg_footer.png') repeat-x 0 0;
	clear: both;
	height: 140px;
	margin: 35px auto;
	position: relative;
	width: 960px;
}
p.copyright {
	bottom: 15px;
	color: #ada78e;
	font-size: 12px;
	left: 10px;
	position: absolute;
}
p.copyright a {
	border-bottom: none;
	color: #8c8671;
}
p.copyright a:hover {
	border-bottom: none;
	text-decoration: underline;
}
span.design_by {
	display: none;
	font-size: 8px;
}
div.creditation {
	bottom: 0;
	position: absolute;
	right: 10px;
}
div.creditation img {
	margin-left: 5px;
}
/* ==============================================================================
	END MAIN FOOTER
================================================================================= */