@charset 'utf-8';

@font-face {
	font-family: Aller;
	src: url('../fonts/aller-webfont/aller_bd-webfont.eot');
	src: local('☺'),
	url('../fonts/aller-webfont/aller_bd-webfont.woff') format('woff'),
	url('../fonts/aller-webfont/aller_bd-webfont.ttf') format('truetype'),
	url('../fonts/aller-webfont/aller_bd-webfont.svg') format('svg');
}

body {
	text-shadow: 0 1px 0 #fff;
	font-family: Helvetica;
	font-size: 18px;
	background-color: #ddd;
	color: #444751;
}
div#wrap {
	margin: 0 auto;
	width: 900px;
}
/* GENERAL ===================================================================== */

/* GENERAL ===================================================================== */

/* HEADER ====================================================================== */
header.main {
	position: relative;
	height: 180px;
	margin: 25px 0 10px 0;
}
img.logo {
	width: 276px;
	height: 180px;
}
span.description {
	float: right;
	position: absolute;
	bottom: 15px;
	left: 300px;
	font-family: Arial, sans-serif;
	font-style: italic;
	color: #aaa;
}
/* /HEADER ===================================================================== */

/* NAVIGATION ================================================================== */
nav.main {
	height: 40px;
}
ul.nav {
	height: 40px;
	padding-left: 10px;
	text-transform: uppercase;
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 13px;
	background-color: #eee;
	border-top: 2px solid #eee;
	border-bottom: 2px solid #ccc;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	behavior: url('plugins/PIE/PIE.htc');
}
ul.nav li {
	display: inline;
	float: left;
}
ul.nav li a {
	display: block;
	padding: 0 20px;
	line-height: 40px;
	text-decoration: none;
	color: #666;
	border-bottom: 2px solid #ccc;
	-webkit-transition: background-color linear .2s, color linear .3s;
	-moz-transition: background-color linear .2s, color linear .3s;
	-o-transition: background-color linear .2s, color linear .3s;
	transition: background-color linear .2s, color linear .3s;
}
ul.nav li a:hover {
	background-color: #f5f5f5;
	border-bottom: 2px solid #ccc;
	color: #999;
}
ul.nav li a.active {
	background-color: #000;
}
ul.nav li a#home:hover,
ul.nav li a#home.selected {
	border-bottom: 2px solid #063b79;
	color: #063b79;
}
ul.nav li a#about:hover,
ul.nav li a#about.selected {
	border-bottom: 2px solid #2b0d46;
	color: #2b0d46;
}
ul.nav li a#services:hover,
ul.nav li a#services.selected {
	border-bottom: 2px solid #677c26;
	color: #677c26;
}
ul.nav li a#incometax:hover,
ul.nav li a#incometax.selected {
	border-bottom: 2px solid #ffa53a;
	color: #ffa53a;
}
ul.nav li a#resources:hover,
ul.nav li a#resources.selected {
	border-bottom: 2px solid #c97a2b;
	color: #c97a2b;
}
ul.nav li a#mortgagecalculator:hover,
ul.nav li a#mortgagecalculator.selected {
	border-bottom: 2px solid #84101a;
	color: #84101a;
}
ul.nav li a#contact:hover,
ul.nav li a#contact.selected {
	border-bottom: 2px solid #2b0d46;
	color: #2b0d46;
}
ul.subnav {
	display: none;
	float: left;
	position: absolute;
	z-index: 10000;
	background-color: #eee;
}
ul.subnav li {
	
}
ul.subnav li a {
	float: left;
}
ul.subnav.services li a:hover {
	color: #96ad53;
	border-bottom: 2px solid #96ad53;
}
/* /NAVIGATION ================================================================== */

/* CONTENT ====================================================================== */
section.content {
	position: relative;
	min-height: 300px;
	margin-top: 15px;
	padding: 10px;
}
h1,h2,h3,h4,h5,h6 {
	font-family: Aller, Helvetica, Aria, sans-serif;
	font-size: 36px;
	margin: 5px 0;
}
h3 {
	font-size: 28px;
}
h6 {
	font-size: 22px;
}
p {
	margin-bottom: 15px;
	line-height: 120%;
	font-size: 16px;
}
p.first {
	font-size: 22px;
}
p.second {
	font-size: 20px;
}
p.third {
	font-size: 18px;
}
section.content p a {
	padding: 2px 4px;
	text-shadow: none;
	color: #444751;
	background-color: #dce6ea;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	behavior: url('plugins/PIE/PIE.htc');
	-webkit-transition: background-color linear .3s;
	-moz-transition: background-color linear .3s;
	-o-transition: background-color linear .3s;
	transition: background-color linear .3s;
}
section.content p a:hover {
	background-color: #eaf7ff;
}
/* NIVO SLIDER ------------------------------------------------------------------*/
div#slider {
    position: relative;
    width: auto;
    height: auto;
    background: url('images/ajax_loader.gif') no-repeat 50% 50%;
}
div#slider img {
	display: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 7px;
	border: 1px solid #ccc;
	background-color: #fff;
	-webkit-box-shadow: 2px 2px 5px #999;
	-moz-box-shadow: 2px 2px 5px #999;
	box-shadow: 2px 2px 5px #999;
}
div#slider a {
    display: none;
}
/* /NIVO SLIDER ----------------------------------------------------------------*/
/* /CONTENT =================================================================== */

/* ABOUT ====================================================================== */
section.about img.main {
	width: 100%;
	height: 300px;
	margin-bottom: 5px;
	padding: 7px;
	border: 1px solid #ccc;
	background-color: #fff;
	-webkit-box-shadow: 2px 2px 5px #999;
	-moz-box-shadow: 2px 2px 5px #999;
	box-shadow: 2px 2px 5px #999;
}
section.about h3 {
	display: inline;
}
section.about span.license {
	clear: right;
	margin-left: 5px;
	color: #999;
}
section.about p.third {
	margin-top: 5px;
}
/* /ABOUT =====================================================================*/

/* RESOURCES ================================================================== */
section.resources div.left {
	width: 400px;
	float: left;
}
section.resources img,
section.hudsearch img {
	max-width: 100%;
	height: auto;
	margin-bottom: 5px;
	padding: 4px;
	background-color: #eee;
	border: 1px solid #ccc;
	-webkit-transition: background-color linear .4s;
	-moz-transition: background-color linear .4s;
	-o-transition: background-color linear .4s;
	transition: background-color linear .4s;
}
section.resources img:hover {
	background-color: #fff;
}
section.resources p {
	margin-bottom: 30px;
	font-size: 14px;
}
section.resources div.right {
	width: 400px;
	float: right;
}
section.resources div#feed {
	width: 400px;
	float: right;
	font-size: 14px;
}
section.resources div#feed ul li {
	margin: 5px 0;
}
section.resources div#feed a {
	color: #8da64d;
}
section.resources div#feed a:hover {
	border-bottom: 1px dotted #c97a2b;
	color: #c97a2b;
}
/* /RESOURCES =================================================================*/

/* MORTGAGE CALCULATOR ========================================================*/
section.mortgagecalculator h6 {
	margin-bottom: 10px;
}
section.mortgagecalculator form.loan {
	float: left;
	width: 350px;
}
section.mortgagecalculator form.loan label {
	width: 100px;
}
section.mortgagecalculator form.property {
	float: right;
	width: 450px;
}
section.mortgagecalculator form div {
	width: 350px;
	height: 50px;
}
section.mortgagecalculator form.property div {
	width: 450px;
}
section.mortgagecalculator div.error {
	display: none;
	width: 315px;
	height: auto;
	margin-bottom: 10px;
	padding: 5px;
	text-align: center;
	font-size: 14px;
	border: 2px solid #e0454d;
	background-color: #fffcfc;
	color: #e0454d;
}
section.mortgagecalculator form.property div.error {
	width: 415px;
}
section.mortgagecalculator label {
	display: block;
	float: left;
	width: 200px;
	text-align: right;
	font-size: 14px;
	color: #555;
}
section.mortgagecalculator label.small {
	font-size: 12px;
}
section.mortgagecalculator input[type=text] {
	display: block;
	float: left;
	margin-left: 10px;
	padding: 5px;
	width: 200px;
	border: 3px solid #ccc;
	background-color: #fff;
	color: #999;
}
section.mortgagecalculator input[type=text]:focus {
	background-color: #edfdff;
	color: #555;
}
section.mortgagecalculator input[type=text].total {
	background-color: #eee;
	color: #8aa730;
}
section.mortgagecalculator select {
	display: block;
	float: left;
	width: 200px;
	margin-left: 10px;
	padding: 5px;
}
section.mortgagecalculator input[type=button],
section.mortgagecalculator input[type=submit] {
	float: right;
	padding: 7px;
	text-transform: uppercase;
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 13px;
	background-color: #eee;
	border: 3px solid #ccc;
	background-color: #eee;
	color: #555;
	-webkit-transition: color linear .3s;
	-moz-transition: color linear .3s;
	-o-transition: color linear .3s;
	transition: color linear .3s;
}
section.mortgagecalculator input[type=button]:hover,
section.mortgagecalculator input[type=submit]:hover {
	cursor: pointer;
}
section.mortgagecalculator input[type=button].calculate {
	margin-right: 25px;
}
section.mortgagecalculator input[type=button].calculate:hover {
	color: #677c26;
}
section.mortgagecalculator input[type=button].clear:hover {
	color: #84101a;
}
section.mortgagecalculator hr {
	clear: both;
}
section.mortgagecalculator p.disclaimer {
	clear: both;
	margin-top: 15px;
	font-size: 10px;
	color: #999;
}
/* /MORTGAGE CALCULATOR =======================================================*/

/* CONTACT ====================================================================*/
section.contact div.contact_form {
	width: 500px;
	float: left;
}
section.contact div.contact_info {
	float: right;
}
/* /CONTACT ===================================================================*/

/* FOOTER ===================================================================== */
footer.main {
	clear: both;
	position: relative;
	width: 900px;
	height: 64px;
	margin: 25px auto;
}
footer.main p.copyright {
	position: absolute;
	left: 0;
	bottom: 0;
	font-size: 12px;
	color: #999;
}
footer.main p.copyright a {
	color: #777;
}
footer.main p.copyright a:hover {
	text-decoration: underline;
}
footer.main div.creditation {
	position: absolute;
	right: 0;
}
footer.main div.creditation img {
	margin-left: 5px;
}
/* /FOOTER ===================================================================== */