nav ul#nav li > a.selected { 
	display: block;
	float: left;
	margin: 5px;
	padding: 0 10px;
	line-height: 40px;
	text-shadow: 0 1px 1px rgba(0,0,0, .3);
	text-decoration: none;
	color: #e7e5e5;
}
span.nabla {
	display: none;
}