nav ul#nav li > a.selected { 
	display: block;
	float: left;
	margin: 5px;
	padding: 0 10px;
	line-height: 40px;
	text-shadow: 0 1px 1px rgba(0,0,0, .3);
	text-decoration: none;
	color: #e7e5e5;
}
nav ul#nav li:hover > a {
	text-shadow: 0 1px 0 rgba(255,255,255, 1);
	background: #724129 url('../images/gradient.png') repeat-x 0 -45px;
	color: #444;
	border-top: solid 1px #f8f8f8;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0, .2);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0, .2);
	box-shadow: 0 1px 1px rgba(0,0,0, .2);
  	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	behavior: url('/plugins/PIE/PIE.htc');
}
span.nabla {
	display: none;
}