.wufoo header.info {
	text-shadow: 0 1px 0 rgba(255,255,255,.8);
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 16px;
	color: #3a3d3f;
}
.wufoo .field {
	border: 3px solid #ccc;
	background-color: #fff;
	color: #999;
}
.wufoo .field:focus {
	background-color: #edfdff;
	color: #555;
}
/* ------------------------------------------------------------------------------
	SUBMIT BUTTON
--------------------------------------------------------------------------------- */
.wufoo input.submit {
	background: #4976a3;
	background: -moz-linear-gradient(
		top,
		#7ab9d6 0%,
		#4976a3);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#7ab9d6),
		to(#4976a3));
	border: 1px solid #4976a3;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	-o-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);
	color: #fff !important;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding: 5px 10px;
	text-decoration: none;
}
.wufoo input.submit:hover {
	background: #4976a3;
	background: -moz-linear-gradient(
		top,
		#90cce5 0%,
		#4976a3);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#90cce5),
		to(#4976a3));
	cursor: pointer;
}
.wufoo input.submit:active {
	background: #7ab9d6;
	background: -moz-linear-gradient(
		top,
		#4976a3 0%,
		#7ab9d6);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#4976a3),
		to(#7ab9d6));
	box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	-webkit-box-shadow: none;
	cursor: pointer;
}